ws-port: 5554
http-port: 5080

#loopback-only: false

// absolute or relative (based on %SNAP_COMMON% in case of snap package, or current dir in other cases) path
// to custom web client
#www-root: "www"

streamers: (
  {
    name: "Price Center Plaza",
    url: "rtsp://132.239.12.145:554/axis-media/media.amp",
    description: "rtsp://132.239.12.145:554/axis-media/media.amp",
    force-h264-profile-level-id: "42c015"
  },
  {
    name: "Konský Grúň",
    url: "rtsp://stream.tmr.sk:1935/tmr/STREAM17.stream",
    description: "rtsp://stream.tmr.sk:1935/tmr/STREAM17.stream",
    force-h264-profile-level-id: "42c015"
  },
  {
    name: "Štrbské pleso",
    url: "rtsp://stream.strba.sk:1935/strba/VYHLAD_JAZERO.stream",
    description: "rtsp://stream.strba.sk:1935/strba/VYHLAD_JAZERO.stream",
    force-h264-profile-level-id: "42c015"
  },
  {
    name: "Bedford Hills",
    url: "rtsp://73.114.177.111/axis-media/media.amp",
    description: "rtsp://73.114.177.111/axis-media/media.amp",
    force-h264-profile-level-id: "42c015"
  },
  {
    name: "Norwich",
    url: "rtsp://37.157.51.30/axis-media/media.amp",
    description: "rtsp://37.157.51.30/axis-media/media.amp",
    force-h264-profile-level-id: "42c015"
  },
  {
    name: "Montana",
    url: "rtsp://64.187.201.16/axis-media/media.amp",
    description: "rtsp://64.187.201.16/axis-media/media.amp",
    force-h264-profile-level-id: "42c015",
    restream: false
  },
  {
    name: "Western Cape",
    url: "rtsp://196.21.92.82/axis-media/media.amp",
    description: "rtsp://196.21.92.82/axis-media/media.amp",
    force-h264-profile-level-id: "42c015"
  },
  {
    name: "Nordland",
    url: "rtsp://77.110.228.219/axis-media/media.amp",
    description: "rtsp://77.110.228.219/axis-media/media.amp",
    force-h264-profile-level-id: "42c015"
#  },
#  {
#    name: "Some name",
#    type: "restreamer", // optional
#    url: "rtsp://some.dns.or.ip/",
#    description: "Some description",
#    force-h264-profile-level-id: "42c015", //optional
#    restream: true // optional
//   if `public` is omitted - restreamer will be publicly accessible if there is no `users` defined below,
//                            otherwise it will be accessible only with auth;
//   if it's true - restreamer will be always accessable without auth;
//   if it's false - restreamer will be NOT accessable without auth;
#    public: true // optional
#  },
#  {
#    name: "Record",
#    type: "record",
#    restream: true,
#    record-token: "token",
#    description: "Restreamed incoming RECORD stream"
//   absolute or relative (based on %SNAP_COMMON% in case of snap package, or current dir in other cases) path
//   where to place recorded files
#    recordings-dir: "recordings"
#    recordings-dir-max-size: 1024 // Mb
#    recording-chunk-size: 100 // Mb
#  },
#  {
#    name: "Recordings",
#    type: "player",
#    dir: "recordings",
#    force-h264-profile-level-id: "42c015"
#  },
#  {
#    name: "ONVIF",
#    type: "onvif",
#    url: "http://some.onvif.source.org/",
#    description: "ONVIF source",
#    username: "user",
#    password: "pass",
#    force-h264-profile-level-id: "42c015"
  }
)

#realm = "ReStreamer"

# TLS is mandatory for authorization!
#users: (
#  {
#    login: "user",
#    pass: "pass"
#  }
#)

#stun-server: "stun://stun.l.google.com:19302"
#turn-server: "turn://username:password@host:port"

debug: {
#  log-level: 3
#  lws-log-level: 2
}
