ws-port: 5554
http-port: 5080

#loopback-only: false

// absolute or relative (based on %SNAP_COMMON% in case of snap package, or current dir in other cases) path
// to custom web client
#www-root: "www"

// it should be =false on Raspberry Pi 5 (or any other device without hardware h264 enconding support)
#use-hw-encoder=true

// if defined app will act as remote agent
#signalling-server: {
#  host: "localhost"
#  port: 5555
#  tls: true
#  uri: "proxy"
#  token: "token"
#}

#realm = "V4L2Streamer"

# TLS is mandatory for authorization!
#users: (
#  {
#    login: "user",
#    pass: "pass"
#  }
#)

webrtc: {
#  stun-server: "stun://stun.l.google.com:19302"
#  turn-server: "turn://username:password@host:port"
#  min-rtp-port: 0
#  rtp-ports-count: 65535
}

debug: {
#  log-level: 3
#  lws-log-level: 2
}

// absolute or relative (based on %SNAP_COMMON% in case of snap package, or current dir in other cases)
// path to EDID file
edid-file: "1080p30.edid"
